

body{

    background-color: var(--video-color);
} 

hr{
    height: 1px;
    width: 520px;
    float: left;
    background-color: var(--border-color);
    border: none;
}
.setting{
    height: 525px;
    width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--btn-bgc);   
    border-radius: var(--border-radius2);
}
/* 头部 */
.setting-head{
    height: 30px;
    width: 100%;
    background-color: var(--white);
    border-top-left-radius: var(--border-radius2);
    border-top-right-radius: var(--border-radius2);
    line-height: 30px;
    text-align: center;
    font-size: var(--size3);
    color: var(--text2-color);
    border-bottom: 1px solid var(--border-color);
}

.setting-content{
    flex: 1;
    width: 100%;
    font-size: var(--size2);
    padding: 0 40px;
    color: var(--text-color);
}
.name{
    margin: 20px 0 5px 0;
}
.name-content{
    height: 30px;
    width: 520px;
    background-color: var(--div-bgc);
    border-radius: var(--border-radius);
    line-height: 30px;
    padding-left: 10px;
    border: 0; 
    outline: none;
    font-size: var(--size3);
    color: var(--text2-color);
}

.input-padding{
    width: 510px;
}
.select{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.select div{
    flex: 1;
    height: 100%;
    text-align: center;
    font-size: var(--size3);
    color: var(--text2-color);
}

.select div:hover{
    background-color: var(--btn-bgc-hover);
    color:var(--white);
}
.select div:first-child{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.select div:last-child{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
/* 底部 */
.setting-foot{
    height: 60px;
    width: 100%;
    background-color: var(--white);
    border-bottom-left-radius: var(--border-radius2);
    border-bottom-right-radius: var(--border-radius2);
}

.setting-btn{
    display: inline-block;
    margin-top: 12px;
}


.setting-btn:nth-child(1){
    margin-left: 40px;

}

.setting-btn:nth-child(2){
    float: right;
    margin-right: 40px;
    margin-left: 10px;
}

.setting-btn:nth-child(3){
    float: right;
}
